<mat-card class="post-card">
  <mat-card-header>
    <mat-card-title>
      <span>{{ post().title | titlecase }}</span>
    </mat-card-title>
    <mat-card-subtitle>
      <span>{{ tempUser | username: 'fr' }} </span>
      <span>{{ post().createdDate | timeAgo }}</span>
    </mat-card-subtitle>
  </mat-card-header>

  @if (post().imageUrl; as imageUrl) {
    <img [alt]="post().title" [src]="imageUrl" mat-card-image />
  }

  <mat-card-content>
    <span class="post-content">{{ post().content | shorten }}</span>
  </mat-card-content>
  <mat-card-actions>
    <app-comments (newComment)="onNewComment($event)" [comments]="post().comments"></app-comments>
  </mat-card-actions>
</mat-card>
