<div class="comments-row">
  <mat-form-field>
    <input [formControl]="commentCtrl" matInput placeholder="Commentaire" type="text" />
  </mat-form-field>
  <button (click)="onLeaveComment()" color="primary" mat-icon-button>
    <mat-icon>send</mat-icon>
  </button>
</div>
@if (comments().length) {
  <mat-list>
    <h2 matSubheader>Commentairez sur ce post</h2>
    @for (comment of comments(); track comment; let i = $index) {
      <mat-list-item [style.--i]="i" animate.enter="comment-enter" class="comment-item">
        <span class="comment-date" mat-line>{{ comment.createdDate | timeAgo }}</span>
        -
        <span class="comment-text" mat-line>{{ comment.comment | shorten }}</span>
      </mat-list-item>
    }
  </mat-list>
}
